<div class="flex flex-col items-center justify-center min-h-screen bg-gabarita relative p-4">

  <!-- Logo -->
  <img
    class="w-40 md:w-48 max-h-[20vh] md:max-h-[25vh] animate-bounceLogo object-contain select-none pointer-events-none"
    src="../assets/images/logo_gabarita.png"
    alt="logo"
  />

  <!-- Título -->
  <h2 class="text-lg md:text-xl font-semibold text-center text-slate-50 mt-6">
    Faça login no EnemQuizz
  </h2>

  <!-- Contêiner de login -->
  <div class="w-full max-w-xs md:max-w-sm lg:max-w-md p-6 md:p-8 bg-background rounded-lg shadow-lg mt-6">
    <!-- Formulário de Login -->
    <form class="space-y-6">
      <!-- E-mail -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-200">E-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          class="mt-1 block w-full px-4 py-2 text-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-300"
          placeholder="Digite seu e-mail"
          required
        />
      </div>

      <!-- Senha -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-200">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          class="mt-1 block w-full px-4 py-2 text-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-300"
          placeholder="Digite sua senha"
          required
        />
      </div>

      <!-- Botões -->
      <div class="mt-8 flex flex-col gap-4">
        <a href="navegacao">
          <button
            type="submit"
            class="active:scale-[.98] active:duration-75 hover:scale-[1.01] ease-in-out transition-all w-full py-2 px-4 bg-primary text-white font-semibold rounded-xl shadow-lg"
          >
            Entrar
          </button>
        </a>
        <button class="flex items-center justify-center text-white gap-2 text-sm">
          <!-- SVG Google aqui -->
          Entre com o Google
        </button>
      </div>
    </form>

    <!-- Link para cadastro -->
    <div class="mt-4 text-center">
      <p class="text-sm text-gray-200">
        Não tem uma conta?
        <a href="cadastro" class="text-indigo-600 hover:text-indigo-700">Cadastre-se</a>
      </p>
    </div>
  </div>
</div>
